<!--
    Henry Young
    Week 3
    Front-End Web Frameworks
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Completed Projects</title>
   
        <link rel="stylesheet" href="style.css">
        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/app.js"></script>
        <script src="js/xeditable.js"></script>
        <script src="js/dataService.js"></script>
   
</head>

<body ng-app="MyApp" ng-controller="MyAppController">
    <h4>{{ otherTest }}</h4>
    
    <div>
        <h4><a href="index.html">Home</a></h4>
        <h4><a href="#/view2">Completed</a></h4>
        <ul>
           <li class="project-name" ng-repeat="item in myProject track by $index">
            
               <div id="name-label-bkgd">
                  <p id="name-label">Project Name:</p>
                  <h4>{{ item.name }}</h4>
               </div><br>
               
               <div id="details-label-bkgd">
                  <p id="details-label">Details:</p>
                  <h5>{{ item.details }}</h5>
               </div><br>
               
               <div id="date-label-bkgd">
                  <p id="date-label">Completion Date:</p>
                  <h5>{{ item.date }}</h5>
               </div><br>
               
               <div id="ptps-label-bkgd">
                  <p id="ptps-label">Participants:</p>
                  <h5>{{ item.ptps }}</h5>
               </div><br>
               
               <input id="edit-button" type="submit" value="Edit" <a href="#/view3" ></a>
               <button id="delete-button" ng-click="deleteProject(project)">Delete</button>
           </li>
           </li>
        </ul>
       </div>
    <div ng-view></div> 
</body>
</html>
