/*
Henry Young
Week 2
Front-End Web Frameworks
*/

header {
	text-align: left;
	font-size: 36px;
	font-family: 'verdana';
	font-weight: bold;
	margin: 54px 0 20px 50px;
}

body {
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00A3EF 100%);
	}

h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'verdana';
}

h3 {
	font-size: 20px;
	font-family: 'verdana';
	color: #eee;
	font-weight: 400;
}

h4 {
	font-size: 17px;
	font-family: 'verdana';
	background: rgba(0,0,0,.7);
	padding: 0px 0 10px 0px;
	margin: 0 0 0 0;
	text-align: center;
	color: #eee;
	font-weight: 200;
}

h5 {
	font-size: 15px;
	font-family: 'verdana';
	margin: -10px 0 -2px 0px;
	padding: 0 0 0 10px;
	text-align: center;
	
}

h6 {
	font-size: 16px;
	margin-left: 2px;
	margin-bottom: 6px;
	font-family: 'verdana';
	color: #eee;
	font-weight: 200;
}

ul
{
    list-style-type: none;
}

#add-employee{
	float: left;
	width: 30%;
	margin: 0 0 20px 50px;
	padding: 0 0 26px 15px;
	background: rgba(0,0,0,.7);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 3px #333;
	display: inline-block;
}

#input-box {
	display: block;
	width: 92%;
	margin: 0px 0 22px 0;
	padding-left: 10px;
	font-size: 16px;
	border: #bbb 1px solid;
	height: 36px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#submit-button {
	display: block;
	width: auto;
	padding: 7px 10px 8px 10px;
	background: #fd7f32;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

#delete-button {
	margin: 14px 8px 8px 40%;
	text-align: center;
	font-family: 'verdana';
	border: #777 1px solid;
	font-size: 12px;
	color: #111;
	background: #fd7f32;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: 600;
}

#user-icon {
	height: 24px;
	width: 24px;
	margin: 10px 16px -4px -24px;
}

.employee-name {
	border: 1px solid #777;
	padding: -10px 0 0 0;
	margin: 0 10px 20px 20px;
	width: 22%;
	border: #555 2px solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	background: rgba(355,355,355,.7);
}



